{{!-- Category posts --}}
<div class="category-posts">
<h3 class="category__title"><a href="{{url}}">{{name}}</a></h3>
{{#get "posts" filter="tags:{{slug}}" limit="5" include="authors,tags" as |article|}}
  {{#foreach article}}
  <article class="category-post">
    {{#if @first}}
      <a class="category-post__image lazyload" 
         href="{{url}}" data-src="{{img_url feature_image}}"></a>
    {{/if}}
    {{#if @first}}<div class="category-post__header">{{/if}}
      {{#if @first}}
      <h3 class="category-post__header-title"><a href="{{url}}">{{{title}}}</a></h3>
      {{else}}
      <h4 class="category-post__title"><a href="{{url}}">{{{title}}}</a></h4>
      {{/if}}
      <div class="category-post__info">
        {{#primary_author}}{{name}}{{/primary_author}}
        <i class="fa fa-clock-o"></i>
        <time datetime="{{date format="YYYY-MM-DD"}}" class="timeago">
        {{date published_at timeago="true"}}
        </time>
      </div>
    {{#if @first}}</div>{{/if}}
  </article>
  {{/foreach}}
{{/get}}
</div>