{{!-- Site header --}}
<header class="navbar">
  <div class="navbar__social" id="navbar-social">
    {{!-- Site Media Links --}} 
    {{> social-media}}
  </div>

  {{!-- Default navigation --}}
  <div id="navbar-default" class="navbar__default center-xs middle-xs">
    <div class="navbar__brand">
      <a href="{{@site.url}}" class="navbar__brand--{{#if @site.logo}}logo{{else}}text{{/if}}">
        {{#if @site.logo}}
          <img data-src="{{@site.logo}}" class="lazyload" alt="{{@site.title}}" /> 
        {{else}} 
          {{@site.title}} 
        {{/if}}
      </a>
    </div>
    <label for="menu--toggle" class="navbar--toggle">&equiv;</label>
    <input type="checkbox" id="menu--toggle" class="hidden"/>
    <div class="navbar__menu">
      {{navigation}}
    </div>
    <div class="navbar__search">
      <a class="navbar__search--open" id="search-open">
        <i class="fa fa-search fa-lg fa-rotate-90"></i>
      </a>
    </div>
  </div>
</header>