{{!-- Page Header --}}
<header class="page-header">
    <div class="page-image lazyload" data-src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{@blog.cover_image}}{{/if}}"
        style="background-image: url({{#if feature_image}}{{img_url feature_image}}{{else}}{{@blog.cover_image}}{{/if}})">
    </div>
    <div class="page-gradient"><span class="page-gradient-hover"></span></div>
    <div class="page-info">
        <h1 class="page-title">{{title}}</h1>
        <div class="page-scroll-wrapper">
            <a class="scroll-down animated bounce" href="#content">
                <i class="fa fa-angle-double-down fa-lg" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</header>