{{!-- Post title and author info --}}
<div class="post-info">
    <h1 class="post-title">{{title}}</h1>
    <div class="post-byline">
        {{#author}}
            {{#if feature_image}}
                <a class="lazyload post-author-photo" data-src="{{img_url feature_image}}"
                    href="{{url}}" title="{{name}}" style="background-image: url({{img_url feature_image}})">
                </a>
            {{/if}}
        {{/author}}
        <div class="post-byline-item">
            {{#author}}
            	by <a class="post-author-name" href="{{url}}">{{name}}</a>
            {{/author}}
            - <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="YYYY MMM DD, hh:mm"}}</time>
            in {{tags limit="3" separator=" "}}
        </div>
    </div>
</div>
{{!-- Post header (image, share buttons) --}}
<header class="post-header">
    {{#if feature_image}}
		<div class="post-image">
			<img alt="{{title}}" class="lazyload" data-src="{{img_url feature_image}}" src="{{img_url feature_image}}"/>
		</div>
    {{/if}}
    {{> social-share}}
</header>
