{{!-- Post card --}}
<div class="post-card">
  {{#if feature_image}}
  <div class="post-card__image">
    <a class="lazyload" href="{{url}}" data-src="{{img_url feature_image}}"></a>
  </div>
  {{/if}}
  <div class="post-card__content{{^if feature_image}} border-top{{/if}}">
    <h4 class="post-card__content-title">
      <a href="{{url}}">{{{title}}}</a>
    </h4>
    <div class="post-card__content-info">
      {{> post-info}}
    </div>
    <div class="post-card__content-excerpt">
      {{excerpt words="30"}}&hellip;
    </div>
  </div>
</div>