{{!-- Links to Previous/Next posts --}}
<div class="read-next">
  {{!-- Prevoius Post --}}
  {{#prev_post}}
    <a class="read-next__story prev" href="{{url}}">
      <div class="read-next__story-image lazyload" 
        data-src="{{img_url feature_image}}">
      </div>
      <div class="read-next__story-info">
        <h3 class="read-next__story-title">{{title}}</h3>
      </div>
    </a>
  {{/prev_post}}

  {{!-- Next Post --}}
  {{#next_post}}
    <a class="read-next__story next" href="{{url}}"> 
      <div class="read-next__story-image lazyload" 
        data-src="{{img_url feature_image}}">
      </div>
      <div class="read-next__story-info">
        <h3 class="read-next__story-title">{{title}}</h3>
      </div>
    </a>
  {{/next_post}}
</div>