{{!-- Sidebar --}}

{{!-- Sidebar featured posts --}}
{{#get "posts" filter="featured:true+id:-{{id}}" limit="5" include="authors,tags" as |featured|}}
<div class="sidebar__featured">
  <h3 class="sidebar__title">Featured posts</h3>
  <div class="sidebar__section">
    {{#foreach featured}}
    <article class="sidebar__story">
      <h4 class="sidebar__story-title">
        <a href="{{url}}">{{{title}}}</a>
      </h4>
      <div class="sidebar__story-info">
        {{#primary_author}}{{name}}{{/primary_author}}
        <i class="fa fa-clock-o"></i>
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date published_at timeago="true"}}
        </time>
      </div>
    </article>
    {{/foreach}}
  </div>
</div>
{{/get}}

{{!-- Tag Cloud --}}
<div class="sidebar__tag-cloud tag-cloud">
  <h3 class="sidebar__title">Tag cloud</h3>
  {{> tag-cloud}}
</div>

{{!-- Sidebar latest posts --}}
{{#get "posts" filter="featured:false+id:-{{id}}" limit="10" include="authors,tags" as |latest|}}
<div class="sidebar__latest">
  <h3 class="sidebar__title">Latest posts</h3>
  <div class="sidebar__section">
    {{#foreach latest}}
    <article class="sidebar__story">
      <h4 class="sidebar__story-title">
        <a href="{{url}}">{{{title}}}</a>
      </h4>
      <div class="sidebar__story-info">
        {{#primary_author}}{{name}}{{/primary_author}}
        <i class="fa fa-clock-o"></i>
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date published_at timeago="true"}}
        </time>
      </div>
    </article>
    {{/foreach}}
  </div>
</div>
{{/get}}

{{!-- Sidebar Top categories --}}
{{#get "tags" limit="10" include="count.posts" order="count.posts desc"}}
<div class="sidebar__category">
  <h3 class="sidebar__title">Top categories</h3>
  <div class="sidebar__section">
    {{#foreach tags}}
    <a href="{{url}}">
      <div class="sidebar__category-name">{{name}}</div>
      <div class="sidebar__category-count">{{count.posts}}</div>
    </a>
    {{/foreach}}
  </div>
</div>
{{/get}}
