{{!-- Post/Page share icons --}}
<div class="social-share">
    {{!-- Disqus comments --}}
    <div class="btn azm-social azm-size-40 azm-long-shadow azm-comment anchor" onclick="loadComments('{{@blog.url}}{{url}}', '{{comment_id}}')">
        <a href="#comments" class="comments">
            <i class="fa fa-comments"></i>
        </a>
        <a href="{{url absolute='true'}}#disqus_thread" class="comments comment-count"></a>
    </div>
    {{!-- facebook --}}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" rel="external"
        target="_blank" class="btn azm-social azm-size-40 azm-long-shadow azm-facebook">
        <i class="fa fa-facebook"></i>
    </a>
    {{!-- google-plus --}}
    <a href="https://plus.google.com/share?url={{url absolute='true'}}" rel="external"
        target="_blank" class="btn azm-social azm-size-40 azm-long-shadow azm-google-plus">
        <i class="fa fa-google-plus"></i>
    </a>
    {{!-- twitter --}}
    <a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" rel="external"
        target="_blank" class="btn azm-social azm-size-40 azm-long-shadow azm-twitter">
        <i class="fa fa-twitter"></i>
    </a>
    {{!-- reddit --}}
    <a href="//www.reddit.com/submit?url={{url absolute='true'}}" rel="external"
        target="_blank" class="btn azm-social azm-size-40 azm-long-shadow azm-reddit">
        <i class="fa fa-reddit-alien"></i>
    </a>
    {{!-- whatsapp --}}
    <a href="whatsapp://send?text={{url}}" data-action="share/whatsapp/share" rel="external"
        target="_blank" class="hidden-xs btn azm-social azm-size-40 azm-long-shadow azm-whatsapp">
        <i class="fa fa-whatsapp"></i>
    </a>
    {{!-- stumbleupon --}}
    <a href="http://www.stumbleupon.com/badge/?url={{url absolute='true'}}" rel="external"
        target="_blank" class="hidden-xs btn azm-social azm-size-40 azm-long-shadow azm-stumbleupon">
        <i class="fa fa-stumbleupon"></i>
    </a>
    {{!-- Linkedin --}}
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url}}/&amp;title={{encode title}}" rel="external"
        target="_blank" class="hidden-xs btn azm-social azm-size-40 azm-long-shadow azm-linkedin">
        <i class="fa fa-linkedin"></i>
    </a>
    {{!-- email --}}
    <a href="mailto:?subject={{encode title}}&amp;body=Article:%20{{url absolute='true'}}"
        class="hidden-xs btn azm-social azm-size-40 azm-long-shadow azm-email-1">
        <i class="fa fa-envelope"></i>
    </a>
    {{!-- link --}}
    <a href="" class="hidden-xs btn azm-social azm-size-40 azm-long-shadow azm-share">
        <i class="fa fa-link"></i>
    </a>
    {{!--decomment to activate
    <a href="#" class="btn azm-social azm-size-40 azm-long-shadow azm-instagram"><i class="fa fa-instagram"></i></a>
    <a href="#" class="btn azm-social azm-size-40 azm-long-shadow azm-tumblr"><i class="fa fa-tumblr"></i></a>
    --}}
</div>
