{{!-- Social share links --}}
<div class="social-share">
  <a class="btn facebook" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank">
    <i class="fa fa-lg fa-facebook"></i>
  </a>
  <a class="btn twitter" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Twitter"
    href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" target="_blank">
    <i class="fa fa-lg fa-twitter"></i>
  </a>
  <a class="btn reddit" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Reddit"
    href="//www.reddit.com/submit?url={{url absolute='true'}}" target="_blank">
    <i class="fa fa-lg fa-reddit-alien"></i>
  </a>
</div> 