{{!< default}}

{{!-- The big featured header --}}
{{#get "posts" limit="4" include="author,tags" filter="featured:true" as |featured| }}
    <div class="featured-articles grid4 clearfix">
        {{#foreach featured}}
            <article class="grid-story">
                {{#if feature_image}}
                    <div class="lazyload grid-image" data-src="{{img_url feature_image}}" style="background-image: url({{img_url feature_image}})"></div>
                {{else}}
                    <div class="lazyload grid-image no-image"></div>
                {{/if}}
                <a class="grid-trigger" href="{{url}}"></a>
                <div class="grid-gradient"></div>
                <div class="grid-logo"></div>
                <span class="cover-date">{{date published_at format="MMMM DD, YYYY"}}</span>
                <header class="grid-header">
                    <div class="grid-tags">
                        <h5 class="grid-section">
                            {{tags limit="5" separator=""}}
                        </h5>
                    </div>
                    <h2 class="grid-title"><a href="{{url}}">{{{title}}}</a></h2>
                    <ul class="grid-byline">
                        {{> post-info}}
                    </ul>
                </header>
            </article>
        {{/foreach}}
    </div>
{{/get}}

{{!-- The main content area on the homepage --}}
<div class="content">
    {{!-- Advert --}}
    <div class="ad">
        <div class="ad-unit ad-unit-top ad-unit-w-728 ad-unit-h-90 hidden-xs">
            <a href="">
                <img src="http://res.cloudinary.com/bironthemes/gazette/gazette-w728-h90" alt="ad placeholder"/>
            </a>
        </div>
    </div>
    {{!-- latest posts --}}
    {{#get "posts" filter="featured:false" order="published_at desc" limit="9" include="author,tags" as |latest|}}
        <section class="latest">
            <h2>Latest news</h2>
            <ul class="latest-list clearfix">
                {{#foreach latest}}
                    {{> latest-posts}}
                {{/foreach}}
            </ul>
        </section>
    {{/get}}

    {{!-- Posts by category --}}
    {{#get "tags" limit="6" include="count.posts" order="count.posts desc" as |category|}}
        <div class="sections clearfix">
            {{#foreach category}}
                {{> category-posts}}
            {{/foreach}}
        </div>
    {{/get}}
</div>

{{!-- Email subscribe form at the main page --}}
{{> subscribe}}