{{!< default}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
  {{#if feature_image}}
  <div class="page-header">
    <div class="page-header__img lazyload" data-src="{{img_url feature_image}}">
    </div>
    <h2 class="page-header__title">{{title}}</h2>
  </div>
  {{/if}}
  <div class="wrapper container-fluid">
    <div class="{{post_class}}">
      {{^if feature_image}}
        <h2 class="page__title">{{title}}</h2>
      {{/if}}
      <div class="page__content">
        {{!-- Content --}}
        {{content}}
      </div>
      {{!-- Social share --}}
      {{> social-share}}
    </div>
    {{!-- Disqus comments --}}
    {{> comments}}
  </div>
{{/post}}

