{{!< default}}

{{!-- The first three articles form the header part --}}
{{!-- The big featured header --}} 
  <div class="grid grid-1 grid-2 grid-3 grid-4">
    {{#foreach posts to="3"}}
    <article class="grid-story">
      <div class="lazyload grid-story__image" data-src="{{img_url feature_image}}">
      </div>
      <a class="grid-story__trigger" href="{{url}}"></a>
      <div class="grid-story__gradient"></div>
      <header class="grid-story__header">
        <div class="grid-story__header-tags">
          {{tags limit="3" separator=""}}
        </div>
        <h2 class="grid-story__header-title">
          <a href="{{url}}">{{{title}}}</a>
        </h2>
        <div class="grid-story__header-info">
          {{> post-info}}
        </div>
      </header>
    </article>
    {{/foreach}}
  </div>

{{!-- The main content area on the homepage --}}
<div class="wrapper container-fluid">
  {{!-- Posts in tag --}}
  <h3 class="post-section-title" id="tag-posts-title">Other news in {{tag.name}}</h3>
  <section class="section categories">
    {{#foreach posts from="4"}} 
      {{> post-card}} 
    {{/foreach}}
  </section>
  {{pagination}}
</div>
